<div class="container mt-5">

  @for (order of orders; track order.id) {

    <div class="card shadow mb-4">
      <div class="card-header bg-primary text-white">
        Orden #{{ order.id }}
      </div>

      <div class="card-body">

        <h4>{{ order.product }}</h4>

        <p>Cantidad actual: {{ order.quantity }}</p>
        <p>Capacidad máquina: {{ order.machineCapacity }}</p>

        <p>
          Estado:
          <span
            class="badge"
            [ngClass]="{
            'bg-secondary': order.state === 'pendiente',
            'bg-warning': order.state === 'en_proceso',
            'bg-success': order.state === 'finalizada'
          }"
          >
          {{ order.state }}
        </span>
        </p>

        <!-- Input que actualiza automáticamente -->
        <div class="mb-3">
          <label>Nueva Cantidad</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="order.quantity"
            (ngModelChange)="updateQuantity(order)"
          />
        </div>

        <button class="btn btn-success me-2" (click)="start(order)">
          Iniciar
        </button>

        <button
          class="btn btn-danger"
          [disabled]="order.state !== 'en_proceso'"
          (click)="finish(order)"
        >
          Finalizar
        </button>

        <!-- Barra de progreso -->
        <div class="progress mt-3">
          <div
            class="progress-bar"
            role="progressbar"
            [style.width.%]="getProgress(order)"
          >
            {{ getProgress(order) | number:'1.0-0' }}%
          </div>
        </div>

        <p class="mt-3">
          Eficiencia:
          <strong>{{ order.getEfficiency() }}</strong>
        </p>

      </div>
    </div>

  }

  @if (message) {
    <div class="alert alert-warning mt-3">
      {{ message }}
    </div>
  }

</div>
